/*Reset some default styles*/
body,h1,h2,h3,p,ul,li{
                       margin:0;
                       padding:0;
                     }

/*Basic Styling*/
body{
      font-family:Arial,sans-serif;
      min-height:100vh;
      display:flex;
      flex-direction:column;
    }
    
    div {
        padding-top: 5px;
        padding-right: 80px;
        padding-bottom: 50px;
        padding-left: 100px;
      }
     
/*header styles*/
header{
       display:flex;
       align-items:center;
       padding:50px;
       background: color #0a0a0a;;
       color:rgb(13, 21, 133);
      }

.logo img{
          max: height 50px;
         }
.college-info{
              margin: left 20px; 
             }
 /*Navigation styles*/
nav{
    background-color:#060707;
   }

.menu{
      display:flex;
      list-style:none;
      padding:10px;
     }

.menu li{
         margin-right:20px;
        }
 .menu a{
         color:rgb(236, 236, 236);
         text-decoration:none;
        }

img{
      max-width:100%;
      height:auto;
}

/*Dropdown Menu Styles*/

.submenu{
      display:none;
      position:absolute;
      background-color:#444;
      list-style:none;
      padding:10px;
}

.dropdown:hover .submenu{
      display:block;
}
.submenu li{
      margin:5px 0;
}

li a:hover{
      background-color:rgb(161, 143, 143);
      color:black;
}

/*Footer Styles*/
footer{
      margin-top:auto;
      background-color:#d8dde6;
      color:rgb(8, 8, 7);
      text-align:center;
      padding:30px;
}

.social-media img{
      height: 40px;
      margin:10 px;
}

   /* The animation code */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  div {
    width: auto;
    height: auto;
    position: relative;
    background-color: rgb(241, 241, 241);
    animation-name: example;
    animation-duration: 4s;
  }
  body {
    background-image: url("https://img.freepik.com/free-vector/decorative-mandala-design-with-pastel-colours_1048-5936.jpg?size=626&ext=jpg&ga=GA1.1.650447279.1695213860&semt=sph");
    background-size: auto;
  }